:root{
    --primary-color: rgb(8, 8, 96);
    --secondary-color: rgb(174, 174, 188);
    --accent-color1: rgb(39, 123, 220);
    --accent-color2: #956767bc;
    --heading-font:'Times New Roman', Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    margin:0.5rem auto;
    display:grid;
    grid-template-columns:120px 1fr 5fr;
    align-items: center;
    border-bottom:1px solid var(--secondary-color)
}

.logo img{
    margin:0 0.25rem 0 1rem;
    width:64px;
    height:auto;
}

.navigation{
    display: flex;
    list-style:none;
    justify-content:space-around;
}

.navigation li{
    flex: 1 1 auto;
}

.navigation a{
    display:block;
    color:var(--primary-color);
    padding: 12px;
    text-decoration:none;
    font-size:1.25rem;
}

body{
    font-family:var(--body-font);
    color:var(--accent-color1);
}

.history{
    display:grid;
    justify-content: center;
    position:relative;
    grid-template-columns:35% 30% 35%;
    h2{
        align-items:center;
        grid-column:1/4;
    }
    img{
        height:150px;
        width:auto;
        position:relative;
        grid-column:2/4;
        grid-row:2/4;
        margin:20px 0;  
    }
    .p2{
        padding:10px;
        position:relative;
        grid-column:3/4;
        grid-row:2/4;
    }     
}

h2, footer {
    display:flex;
    justify-content:center;
    margin:10px;
}
header, main, footer {
    width:840px;
    margin:0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin:16px;
    padding:8px;
}

.socialmedia a{
    text-decoration:none;
}

.socialmedia img{
    height:32px;
    width:auto;
    float:right;
    padding:5px;
}

.hero{
    position: relative;
}


.hero img{
    display:block;
    width: 100%;
    height:auto;
}

h1{
    position: absolute;
    top:25px;
    width:100%;
    padding:16px;
    text-align:center;
    background-color:var(--accent-color1);
    color:#fff;
}

.hero article{
    position:absolute;
    top:420px;
    padding:5px;
    color:#fff;
    background-color:var(--accent-color2) ;
}

.hero article img{
    float:right;
    width:125px;
    margin:10px;
}

.trips figure{
    display:grid;
    height:150px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:100px 50px;
    img{
        height:100px;
        width:auto;
        grid-row:1/2;
    }
    figcaption{
        grid-row:2/3;
        order:1;
    }
}
