:root{
    --primary-color: rgb(8, 8, 96);
    --secondary-color: rgb(174, 174, 188);
    --accent-color1: rgb(39, 123, 220);
    --accent-color2: #956767bc;
    --heading-font:'Times New Roman', Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:var(--body-font);
    color:var(--accent-color1);
}

header, main, footer {
    width:840px;
    margin:0 auto;
}

.hero{
    position: relative;
}


.hero img{
    display:block;
    width: 100%;
    height:auto;
}

.hero article img{
    float:right;
    width:125px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1{
    position: absolute;
    top:20px;
    width:100%;
    padding:16px;
    text-align:center;
    background-color:var(--accent-color1);
    color:#fff;
}

nav, p, section, article {
    margin:16px;
    padding:8px;
}

.socialmedia a{
    text-decoration:none;
}

.socialmedia img{
    height:32px;
    width:auto;
}